@model DevIO.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhe do Produto " + Model.Nome;
}

<h4 class="Margin-top">@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <img src="~/imagens/@Model.Imagem" alt="@Model.Imagem" style="height:200px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd>
                @Model.Valor.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
     <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
</div>
